@model IEnumerable<MinerShop.Models.Orders.OrderDetail>

@{
    ViewBag.Title = "Подробнее о заказе";
}

<h2>Заказ клиента</h2>
<table class="table">
    <thead>
    <tr>
        <td>Изображение</td>
        <td>Название</td>
        <td>Цена</td>
        <td>Колличество на складе</td>

    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model)
    {
        <tr>
            <td>
                <img class="admin-products-img" src="@product.Product.Img"/>
            </td>
            <td>@product.Product.Name</td>
            <td>@product.Price</td>
            <td>@product.Product.Number</td>
        </tr>
    }

    </tbody>
</table>


